<%provide(:title, @title) %>
<div class="row">
    <%= render'shared/info_card' %>
    
    <div class="col-md-6 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="fa fa-book" style="padding-right: 5px;"></i><%= @title %></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row" style="padding-top: 15px;">
                            <% if @users.any? %>
                                <table class="table table-striped">
                                    <thead class="text-centered">
                                        <tr>
                                            <th>Action</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @users.each do |user| %>
                                        <tr>
                                            <td> <%= render 'follow_form' if logged_in? %></td>
                                            <td> <%= render user %></td>
                                        </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            <% end %>
                        </div>
                        <div class="row" style="padding-top: 15px;">
                            <div class="col d-flex justify-content-center">
                                <%= will_paginate%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            

            
            