<%@activity.each do |act| %>
<div class="row">
    <div class="col"><%= gravatar_for @user %> </div>
    <div class="col-xl-10" style="padding-bottom: 5px;">
        <div class="row">
            <div class="col">
                <h5 class="text-left" style="margin-bottom: 0px;"> 
                <%= @user.name %> 
                <% if act.actionable_type == "Relationship" %>
                 Followed

                 <% @followed_act =  Relationship.find(act.actionable_id)%>
                 <% @followed_name = User.find(@followed_act.followed_id) %>
                <%= @followed_name.name %>
                <% end %>
                
                <% if act.actionable_type == "Lesson" %>
                 Learned
                 
                 <% @lesson_act =  Lesson.find(act.actionable_id)%>
                 <% @lesson_name = Category.find(@lesson_act.category_id) %>
                <%= @lesson_name.title %>
                <% end %>
                 </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-left"> <%= time_ago_in_words(act.created_at) %> </p>
            </div>
        </div>
    </div>
</div>
<% end %>