<% provide(:title, "Learning #{@word.category.title} Words ") %>
 <div class="row">
    <%= render'shared/info_card' %>
    <div class="col-md-6 col-xl-8">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center mb-0"><i class="fa fa-book" style="padding-right: 5px;"></i> <%= @word.category.title%></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                            <h5 class="text-center mb-0"> <%= @word.words %></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col offset-xl-3">
                                        <div class="card" style="max-width: 300px;margin-bottom: 20px;margin-top: 20px;">
                                            <div class="card-body m-4">
                                            <%= form_for(@answer) do |f| %>
                                                <% @word.choices.each do |c|%>
                                                    <div class="form-check">
                                                        <%= f.radio_button :choice_id, c.id , required: 'required' %>
                                                        <%= f.hidden_field :lesson_id, value: @lesson.id %> 
                                                        <%= f.hidden_field :word_id, value: @word.id %>
                                                        <label class="form-check-label" for="formCheck-1"><%= c.choices %> </label>
                                                    </div>
                                                <% end %>
                                                <div class="form-group my-3 d-flex justify-content-center">
                                                    <%= f.submit "Submit", class: "btn btn-outline-success" %>
                                                </div>
                                            <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col d-flex justify-content-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>