<% provide(:title, "Learning #{@categories.title} Words ") %><div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3">
                            <%= gravatar_for current_user %>
                            </div>
                            <div class="col">
                                <h4><%= current_user.name%></h4>
                                <h4>Words Learned: &lt;number&gt;</h4>
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-center">Followers:<br />15</h6>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-center">Following:<br />10</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center mb-0"><i class="fa fa-book" style="padding-right: 5px;"></i> <%= @categories.title%> - <%= page_entries_info @words %>  </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                    <% @words.each do |wrd| %>
                                        <h5 class="text-center mb-0"><%= wrd.words %></h5>
                                    </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col offset-xl-3">
                                                    <div class="card" style="max-width: 300px;margin-bottom: 20px;margin-top: 20px;">
                                                        <div class="card-body text-center" style="margin: 20px;">
                                                        <%= form_for(@answers) do |f| %>
                                                            <% wrd.choices.each do |c|%>
                                                                <div class="form-check">
                                                                    <%= f.radio_button :choice_id, c.id %>
                                                                    <%= f.hidden_field :lesson_id, value: @lesson_id.id %>
                                                                    <%= f.hidden_field :word_id, value: wrd.id %> 
                                                                    <%= f.hidden_field :category_id, value: @categories.id %> 
                                                                    <label class="form-check-label" for="formCheck-1"><%=  c.choices %> </label>
                                                                </div>
                                                            <% end %>
                                                            <div class="form-group">
                                                                <%= f.submit "Submit", class: "btn btn-outline-success" %>
                                                            </div>
                                                        <% end %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>