<div class="row" style="padding-top: 15px;">
    <div class="col">
        <div class="card-deck">
            <% @not_learned.each do |b| %>
                <% if Lesson.where(category_id: b.id, user_id: current_user.id).exists? == false %>
                    <div class="card">
                        <div class="card-body">
                            <%= form_for(@lesson_info) do |f| %>
                                <h4 class="card-title text-center"><%= b.title %></h4>
                                <p class="card-text text-center"><%= b.description %> </p>
                                <%= f.hidden_field :user_id, placeholder: "User_id", style: "min-width: 20px", value: current_user.id %>
                                <%= f.hidden_field :category_id, placeholder: "Category_id", style: "min-width: 20px", value: b.id %>
                                <%= f.hidden_field :status, placeholder: "Status", style: "min-width: 20px", value: 0 %>
                                <div class="col d-flex justify-content-center">
                                    <%= f.submit "Learn", class: "btn btn-outline-info"%>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 15px;">
    <div class="col d-flex justify-content-center">
        <%= will_paginate @not_learned %>
    </div>
</div>