<% provide(:title, "Lessons ") %><div>
    <div class="container">
        <div class="row">
            <%= render'shared/info_card' %>
            <div class="col-md-6 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0"><i class="fa fa-book" style="padding-right: 5px;"></i> Lessons</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col">
                                        <div class="card-deck">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <ul class="nav nav-tabs">
                                                            <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link active" href="#tab-1">All Lessons</a></li>
                                                            <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-2">Learned </a></li>
                                                            <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-3">Not Learned </a></li>
                                                            <li class="nav-item"><a role="tab" data-toggle="tab" class="nav-link" href="#tab-4">Coming </a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div role="tabpanel" class="tab-pane active" id="tab-1">
                                                                <%= render 'all' %>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="tab-2">
                                                                <%= render 'learned' %>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="tab-3">
                                                                <%= render 'not_learned' %>
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="tab-4">
                                                                <%= render 'coming' %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>