<% provide(:title, "#{@category_name.title} Words List ") %>
<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 2px;">
            <div class="card" style="min-width: 400;max-width: 400;">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="card"></div>
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0"><i class="fa fa-file-word-o" style="padding-right: 5px;"></i> Manage Words</h5>
                                </div>
                                <div class="card-body">
                                <div class="row pull-right">
                                    <div class="col offset-xl-9">
                                        <%= link_to raw("<i class='fa fa-plus'></i> New Word"), new_categ_words_url(@category_name.id),class: "btn btn-outline-info pull-right", style: "margin-bottom: 12px;" %>
                                    </div>
                                </div>
                                    <h4 class="text-left">Words in  <%= @category_name.title %></h4>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead class="text-info">
                                                <tr>
                                                    <th>Word</th>
                                                    <th>Answer</th>
                                                    <th colspan="2">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% @words.each do |wrd| %>
                                                <tr>
                                                    <td> <%= wrd.words %> </td>
                                                    <td> 
                                                    <% for choice in wrd.choices %>
                                                        <%if choice.correct_ans == true  %>
                                                            <%= choice.choices %>
                                                        <%end %>
                                                    <% end %>
                                                    </td>
                                                    <td>
                                                        <%= link_to raw("<i class='fa fa-pen'></i>  Edit"), edit_word_path(wrd), class: "btn btn-outline-primary" %>
                                                        <%= link_to raw("<i class='fa fa-trash'></i> Delete"), word_path(wrd), class: "btn btn-outline-danger", method: :delete, data: { confirm: "You sure?" } %>
                                                     </td>
                                                </tr>
                                                <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <%= will_paginate %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>